# Clustering and Segmenting Neighborhoods in Toronto

<p>For the Toronto neighborhood data, a wikipedia page available in this link <a href="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M">here</a>.</p>

<p><b>1. Import Pandas</b><p>

In [39]:
import pandas as pd

<p>Install <b>html5lib</b> for reading Wikipedia Page to pandas</p>

In [3]:
!conda install html5lib -y

Fetching package metadata .............
Solving package specifications: .

Package plan for installation in environment /home/nbuser/anaconda3_420:

The following NEW packages will be INSTALLED:

    _libgcc_mutex: 0.1-main
    html5lib:      1.0.1-py_0
    readline:      7.0-ha6073c6_4
    webencodings:  0.5.1-py35_1

The following packages will be UPDATED:

    conda:         4.3.31-py35_0    --> 4.5.11-py35_0
    conda-env:     2.6.0-h36134e3_1 --> 2.6.0-1
    pycosat:       0.6.1-py35_1     --> 0.6.3-py35h6b6bb97_0

_libgcc_mutex- 100% |################################| Time: 0:00:00   1.69 MB/s
conda-env-2.6. 100% |################################| Time: 0:00:00   2.69 MB/s
readline-7.0-h 100% |################################| Time: 0:00:00  11.72 MB/s
pycosat-0.6.3- 100% |################################| Time: 0:00:00  12.55 MB/s
webencodings-0 100% |################################| Time: 0:00:00   7.80 MB/s
html5lib-1.0.1 100% |################################| Time: 0:00:00  19.17 MB/s
conda-4.5.11-p 100% |################################| Time: 0:00:00  20.77 MB/s

In [4]:
import html5lib

<p>'<strong>pd.read_html()</strong>' read all the tables in the wikipedia page!
</p>

In [5]:
#the URL containing the dataset
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Assign the html content to a list named 'table'.

In [6]:
# 
table=pd.read_html(url)
type(table)

list

<p>Type of table is list.
    We need only first element in the list list</p>

In [7]:
df=pd.DataFrame(table[0])

In [8]:
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [9]:
new_header=df.iloc[0]

df=df[1:]

In [10]:
df.columns=new_header

In [11]:
df[0:3]

0 Postcode       Borough Neighbourhood
1      M1A  Not assigned  Not assigned
2      M2A  Not assigned  Not assigned
3      M3A    North York     Parkwoods

<p>We need cells that have an assigned borough. Ignore cells with a borough that is <strong>Not assigned</strong>.</p>

In [12]:
#Check for the index value Not assigned in Borough column of df
index_borough=df[df['Borough'].isin(['Not assigned'])].index

#print indexes 
print(index_borough)

Int64Index([  1,   2,  10,  14,  21,  22,  31,  37,  38,  46,  47,  51,  52,
             53,  55,  56,  60,  61,  62,  74,  75,  76,  89,  90,  91, 105,
            106, 107, 121, 122, 137, 138, 149, 150, 156, 162, 163, 168, 176,
            182, 183, 189, 190, 191, 195, 196, 202, 203, 204, 205, 210, 211,
            224, 225, 238, 239, 242, 243, 248, 249, 254, 255, 259, 260, 261,
            262, 264, 265, 275, 276, 277, 278, 279, 280, 281, 282, 288],
           dtype='int64')

<p>Drop the cells with a borough <b>Not assigned</b></p>

In [13]:
df.drop(index_borough, inplace=True,axis=0)

<p>We can reset the row index in dataframe with reset_index() to make the index start from 0 and specify <b>drop=True</b> to not to keep the original index with the argument.</p>

In [14]:
df.reset_index(drop=True, inplace=True)
df.head()

0 Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Inspect the Neighbourhood column for Not assigned value.

In [15]:
df.loc[df['Neighbourhood'].isin(['Not assigned'])]

0 Postcode       Borough Neighbourhood
6      M7A  Queen's Park  Not assigned

<p>Assign the Borough value to Neighbourhood, then the neighborhood will be the same as the borough. So for the 6th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.</p>

In [16]:
df.loc[df['Neighbourhood'].isin(['Not assigned']), 'Neighbourhood']=df['Borough']
print(df.iloc[6,:])

0
Postcode                  M7A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 6, dtype: object

In [28]:
df.head()

0  Postcode      Borough   Neighbourhood
8       M1B  Scarborough           Rouge
9       M1B  Scarborough         Malvern
23      M1C  Scarborough      Port Union
22      M1C  Scarborough      Rouge Hill
21      M1C  Scarborough  Highland Creek

<p>Here, we can groupby on <b>'Postcode'</b> and <b>'Borough'</b> seeing as their relationship is the same, cast the <b>'Neighbourhood'</b> column to str and join with a comma:</p>

In [33]:
df_sort=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: ','.join(x.astype(str))).reset_index()

<p>Display the first 10 observations from the Wikipedia page grouped by Postcode</p>

In [41]:
df_sort

,Postcode,Borough,Neighbourhood
0,M1B,Scarborough,"Rouge,Malvern"
1,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek"
2,M1E,Scarborough,"Guildwood,Morningside,West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
5,M1J,Scarborough,Scarborough Village
6,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park"
7,M1L,Scarborough,"Golden Mile,Oakridge,Clairlea"
8,M1M,Scarborough,"Cliffcrest,Scarborough Village West,Cliffside"
9,M1N,Scarborough,"Cliffside West,Birch Cliff"
10,M1P,Scarborough,"Wexford Heights,Dorset Park,Scarborough Town C..."
11,M1R,Scarborough,"Maryvale,Wexford"
12,M1S,Scarborough,Agincourt
13,M1T,Scarborough,"Sullivan,Clarks Corners,Tam O'Shanter"
14,M1V,Scarborough,"Milliken,Agincourt North,L'Amoreaux East,Steel..."
15,M1W,Scarborough,L'Amoreaux West
16,M1X,Scarborough,Upper Rouge
17,M2H,North York,Hillcrest Village
18,M2J,North York,"Fairview,Oriole,Henry Farm"
19,M2K,North York,Bayview Village
20,M2L,North York,"Silver Hills,York Mills"
21,M2M,North York,"Willowdale,Newtonbrook"
22,M2N,North York,Willowdale South
23,M2P,North York,York Mills West
24,M2R,North York,Willowdale West
25,M3A,North York,Parkwoods
26,M3B,North York,Don Mills North
27,M3C,North York,"Don Mills South,Flemingdon Park"
28,M3H,North York,"Wilson Heights,Downsview North,Bathurst Manor"
29,M3J,North York,"Northwood Park,York University"
...,...,...,...
73,M6C,York,Humewood-Cedarvale
74,M6E,York,Caledonia-Fairbanks
75,M6G,Downtown Toronto,Christie
76,M6H,West Toronto,"Dovercourt Village,Dufferin"
77,M6J,West Toronto,"Trinity,Little Portugal"
78,M6K,West Toronto,"Exhibition Place,Brockton,Parkdale Village"
79,M6L,North York,"North Park,Downsview,Upwood Park"
80,M6M,York,"Silverthorn,Mount Dennis,Keelesdale,Del Ray"
81,M6N,York,"The Junction North,Runnymede"
82,M6P,West Toronto,"High Park,The Junction South"
83,M6R,West Toronto,"Roncesvalles,Parkdale"
84,M6S,West Toronto,"Runnymede,Swansea"
85,M7A,Queen's Park,Queen's Park
86,M7R,Mississauga,Canada Post Gateway Processing Centre
87,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
88,M8V,Etobicoke,"Mimico South,New Toronto,Humber Bay Shores"
89,M8W,Etobicoke,"Long Branch,Alderwood"
90,M8X,Etobicoke,"Old Mill North,Montgomery Road,The Kingsway"
91,M8Y,Etobicoke,"Old Mill South,King's Mill Park,Humber Bay,The..."
92,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."
93,M9A,Etobicoke,Islington Avenue
94,M9B,Etobicoke,"Cloverdale,West Deane Park,Princess Gardens,Ma..."
95,M9C,Etobicoke,"Old Burnhamthorpe,Markland Wood,Eringate,Bloor..."
96,M9L,North York,Humber Summit
97,M9M,North York,"Humberlea,Emery"
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Richview Gardens,Kingsview Village,St. Phillip..."
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
102,M9W,Etobicoke,Northwest